.floral {
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.floral img,
.floral .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.floral .item-img{
  margin-bottom: 2rem;
}

img{
  border-radius: 1rem;
}