<section class="floral my-5 py-5 bg-light ">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-12 text-center position-relative">
        <h1 class="display-5 fw-bold text-dark">
          <span class="position-relative z-1 px-3 bg-light">Floral Collection</span>
        </h1>
        <div class="position-absolute top-50 start-0 end-0 border-top border-2 border-dark z-0"></div>
      </div>
    </div>

    <app-display-wallpaper [category]="category"></app-display-wallpaper>

  </div>
</section>

<app-footer></app-footer>