.floral {
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.floral img {
  width: 100%;
  height: 20rem;
  object-fit: fill;
  
}

img{
  border-radius: 1rem;
}
@media screen and (max-width: 510px) {
  
.floral img {
  width: 100%;
  height: 12rem;
  object-fit: fill;
  
}
}