
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid gap-2">
    <div>
      <a [routerLink]="['/']" class="navbar-brand">
        <img src="assets/images/0001.jpg" style="height: 2.3rem" />
      </a>
      <a class="text-dark text-decoration-none fw-bold mx-1 " href="https://mybillbook.in/store/wallydeco"  target="_blank">Buy Frames Online</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center gap-2">
        <li class="nav-item">
          <a class="nav-link link text-black active" [ngClass]="{'text-decoration-underline fw-bold': currentRoute==='home'}"  [routerLink]="['/']" (click)="closeNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link text-black " [ngClass]="{'text-decoration-underline fw-bold': currentRoute==='floral'}" [routerLink]="['floral']" aria-expanded="false" (click)="closeNavbar()">Floral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link text-black " [ngClass]="{'text-decoration-underline fw-bold': currentRoute==='trending'}" [routerLink]="['trending']" (click)="closeNavbar()">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link text-black " [ngClass]="{'text-decoration-underline fw-bold': currentRoute==='frames'}" [routerLink]="['frames']" (click)="closeNavbar()">Abstract Frames</a>
        </li>
        
      </ul>
      <form class="d-flex justify-content-center gap-2 " role="search">
        <a type="submit"><span class="material-icons">shopping_bag</span></a>
        <a type="submit" [routerLink]="['profile']" class="text-dark"  (click)="closeNavbar()" ><span class="material-icons">account_circle</span></a>
      </form>
    </div>
  </div>
</nav>


  <router-outlet></router-outlet>


<app-footer></app-footer>
