<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex align-items-center mb-3">
                <h4 class="card-title mb-sm-0">Orders</h4>
            </div>
            <div class="row g-2">
                <div class="col-6 col-md-3">
                    <label for="inputSearch" class="form-label">Search</label>
                    <input id="inputSearch" class="form-control" type="search" (input)="search()"
                        [(ngModel)]="queryParameter.search" name="search by title"
                        placeholder="Search by OrderId or Name" aria-label="Search">
                </div>

                <div class="col-md-2 col-lg-2  col-4">
                    <label for="inputPage" class="form-label">page</label>
                    <select id="inputPage" name="page" [(ngModel)]="queryParameter.page"
                        (change)="onFilterChange($event)" class="form-select">
                        <option *ngFor="let item of totalPages" [value]="item+1" >{{item+1}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-lg-2  col-4">
                    <label for="inputCity" class="form-label">City</label>
                    <select id="inputCity" name="city" (change)="onFilterChange($event)" class="form-select">
                        <option value="">All</option>
                        <option *ngFor="let item of cities">{{item}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-lg-2  col-4">
                    <label for="inputLimit" class="form-label">Limit</label>
                    <select id="inputLimit" name="limit" (change)="onFilterChange($event)" class="form-select">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>

            @if(isLoaded){
            <app-loader></app-loader>
            }@else{

            <div class="table-responsive rounded p-1">
                <table class="table table-hover table-bordered align-middle mb-0">
                    <thead>
                        <tr>

                            <th class="font-weight-bold">#</th>
                            <th class="font-weight-bold">Order ID</th>
                            <th class="font-weight-bold">Amount</th>
                            <th class="font-weight-bold">Payment</th>
                            <th class="font-weight-bold">Customer</th>
                            <th class="font-weight-bold">Delivery at</th>
                            <th class="font-weight-bold">Order Date</th>
                            <th class="font-weight-bold">Delivered</th>
                            <th class="font-weight-bold">Order</th>
                            <th class="font-weight-bold">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngIf="tableData.length === 0">
                            <td colspan="9" class="text-muted fw-medium">No Orders!</td>
                          </tr>
                          
                          <tr *ngFor="let item of tableData; let i = index">
                            <td class="text-muted text-nowrap">{{ ((queryParameter.page - 1) * queryParameter.limit) + i + 1 }}.</td>
                          
                            <td class="text-nowrap">
                              <div class="d-flex justify-content-between align-items-center gap-2">
                                <a class="text-decoration-underline text-dark fw-semibold openOrder" style="cursor: pointer;">
                                  {{ item._id }}
                                </a>
                                <span class="copy text-primary" style="cursor: pointer;" (click)="copy(item._id)">
                                  <i class="fa-solid fa-copy"></i>
                                </span>
                              </div>
                            </td>
                          
                            <td class="fw-bold text-success text-end">{{ item.finalAmount | currency: "INR" }}</td>
                          
                            <td class="text-center">
                              <span class="badge bg-light border text-uppercase text-dark">
                                {{ item.paymentMethod }}
                              </span>
                              <br />
                              <span
                                class="badge mt-1"
                                [ngClass]="{
                                  'bg-success-subtle text-success': item.paymentStatus === 'paid',
                                  'bg-danger-subtle text-danger': item.paymentStatus === 'unpaid',
                                  'bg-dark text-white': item.paymentStatus === 'refund'
                                }"
                              >
                                {{ item.paymentStatus }}
                              </span>
                            </td>
                          
                            <td class="">{{ item.user.name }}</td>
                          
                            <td class="small text-muted">
                              {{ item.shippingAddress.street }}, {{ item.shippingAddress.city }} - {{ item.shippingAddress.zip }},
                              {{ item.shippingAddress.state }}
                            </td>
                          
                            <td class=" small">{{ item.orderDate | date: 'dd MMM y, hh:mm a' }}</td>
                            <td class="">
                                <div *ngIf="item.deliveryDate" class=" small">
                                    {{ item.deliveryDate | date: 'dd MMM y, hh:mm a' }}
                                </div>
                                <div class="text-center" *ngIf="!item.deliveryDate">
                                    <span class="text-muted">—</span>
                                  </div>
                            </td>
                          
                            <td class="text-center">
                              <span
                                class="badge rounded-pill text-dark"
                                [ngClass]="{
                                  'bg-warning': item.status === 'Pending',
                                  'bg-info': item.status === 'Shipped',
                                  'bg-success': item.status === 'Delivered',
                                  'bg-danger': item.status === 'Cancelled'
                                }"
                              >
                                {{ item.status }}
                              </span>
                            </td>
                          
                            <td class="text-center">
                              <div
                                class="d-flex justify-content-evenly"
                                *ngIf="item.status !== 'Delivered' && item.status !== 'Cancelled'"
                              >
                                <select class="form-select form-select-sm w-auto" (change)="onStatusChange($event, item._id)">
                                  <option value="">Update</option>
                                  <option
                                    *ngIf="item.status !== 'Shipped' && item.status !== 'Delivered' && item.status !== 'Cancelled'"
                                    value="Shipped"
                                  >
                                    Shipped
                                  </option>
                                  <option
                                    *ngIf="item.status !== 'Delivered' && item.status !== 'Cancelled'"
                                    value="Delivered"
                                  >
                                    Delivered
                                  </option>
                                  <option
                                    *ngIf="item.status !== 'Shipped' && item.status !== 'Delivered' && item.status !== 'Cancelled'"
                                    value="Cancelled"
                                  >
                                    Cancel
                                  </option>
                                </select>
                              </div>
                              <div *ngIf="item.status === 'Delivered' || item.status === 'Cancelled'">
                                <span class="text-muted">—</span>
                              </div>
                            </td>
                          </tr>
                          
                    </tbody>
                </table>
            </div>


            <div class="d-flex mt-4 flex-wrap align-items-center">
                <p class="text-muted mb-sm-0">Showing 1 to {{queryParameter.limit}} of {{tableData.length}} entries</p>
            </div>
            }
        </div>
    </div>
</div>