@if(isLoaded){
<app-loader></app-loader>
}
@else{

<div class=" col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex align-items-center mb-4">
                <h4 class="card-title mb-sm-0">Orders</h4>
                <a href="#" class="text-dark ms-auto mb-3 mb-sm-0"> View all Products</a>
            </div>
            <div class="table-responsive border rounded p-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="font-weight-bold">Order ID</th>
                            <th class="font-weight-bold">Amount</th>
                            <th class="font-weight-bold">Delivery at</th>
                            <th class="font-weight-bold">Payment Status</th>
                            <th class="font-weight-bold">Order Status</th>
                            <th class="font-weight-bold">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Holmes
                            </td>
                            <td>$3621</td>
                            <td>alipay</td>
                            <td>04 Jun 2019</td>
                            <td>18 Jul 2019</td>
                            <td>
                                <div class="badge badge-success p-2">Paid</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Copeland
                            </td>
                            <td>$6245</td>
                            <td>Paypal</td>
                            <td>25 Sep 2019</td>
                            <td>07 Oct 2019</td>
                            <td>
                                <div class="badge badge-danger p-2">Pending</div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="d-flex mt-4 flex-wrap align-items-center">
                <p class="text-muted mb-sm-0">Showing 1 to 10 of 57 entries</p>
                <nav class="ms-auto">
                    <ul class="pagination separated pagination-info mb-sm-0">
                        <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

}