
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex align-items-center mb-3">
                <h4 class="card-title mb-sm-0">Orders</h4>
                <!-- <button class="btn" data-bs-toggle="modal" data-bs-target="#addWallpaperModal">
                    <i class="fa-solid fa-circle-plus"></i>Add new
                </button> -->

            </div>
            <div class="row g-2">
                <div class="col-6 col-md-3">
                    <label for="inputCity" class="form-label">Search</label>
                    <input class="form-control" type="search" (input)="search()"
                        [(ngModel)]="queryParameter.search" name="search by title"
                        placeholder="Search by OrderId or Name" aria-label="Search">
                </div>
                
                <div class="col-md-2 col-lg-2  col-4">
                    <label for="inputPage" class="form-label">page</label>
                    <select id="inputPage" name="page" [(ngModel)]="queryParameter.page" (change)="onFilterChange($event)"
                     class="form-select">
                        <option *ngFor="let item of totalPages">{{item+1}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-lg-2  col-4">
                    <label for="inputCity" class="form-label">City</label>
                    <select id="inputCity" name="city"
                    (change)="onFilterChange($event)" class="form-select">
                        <option value="">All</option>
                        <option *ngFor="let item of cities">{{item}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-lg-2  col-4">
                    <label for="inputLimit" class="form-label">Limit</label>
                    <select id="inputLimit" name="limit" 
                         (click)="onFilterChange($event)"  class="form-select">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>

            @if(isLoaded){
            <app-loader></app-loader>
            }@else{

            <div class="table-responsive rounded p-1">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                           
                            <th class="font-weight-bold">Sr no.</th>
                            <th class="font-weight-bold">Order ID</th>
                            <th class="font-weight-bold">Amount</th>
                            <th class="font-weight-bold">Payment Status</th>
                            <th class="font-weight-bold">Customer Name</th>
                            <th class="font-weight-bold">Delivery at</th>
                            <th class="font-weight-bold">Order Status</th>
                            <th class="font-weight-bold">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngIf="tableData.length==0">
                            <td colspan="8">No Orders!</td>
                        </tr>
                        <tr *ngFor="let item of tableData,let i = index">
                            <td class="text-nowrap">{{((queryParameter.page-1)*queryParameter.limit)+i +1}}.</td>
                            <td class="text-nowrap lead fs-6 text-decoration-underline ">{{item._id}}</td>
                            <td class="text-nowrap fw-bold">{{item.finalAmount | currency:"INR" }}</td>
                            <td class="text-uppercase">
                                <span [ngClass]="{'text-success':item.paymentMethod==='upi'}" >
                                    {{item.paymentMethod}}
                                </span>
                            </td>
                            <td>{{item.user.name}}</td>
                            <td>{{item.shippingAddress.street}}, {{item.shippingAddress.city}} -
                                {{item.shippingAddress.zip}}, {{item.shippingAddress.state}}</td>
                            <td>
                                <span class="badge" [ngClass]="{
                                    'bg-warning text-dark': item.status === 'Pending',
                                    'bg-success': item.status === 'Delivered',
                                    'bg-danger': item.status === 'Cancelled'
                                  }">
                                    {{ item.status }}
                                </span>
                            </td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                    <select name="updateStatus" id="updateStatus">
                                        <option value="Pending">Pending</option>
                                        <option value="Delivered">Delivered</option>
                                        <option value="Cancelled">Cancelled</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="d-flex mt-4 flex-wrap align-items-center">
                <p class="text-muted mb-sm-0">Showing 1 to {{queryParameter.limit}} of {{tableData.length}} entries</p>
                <!-- <nav class="ms-auto">
                    <ul class="pagination responsive-pagination">
                        <li class="page-item" [class.disabled]="queryParameter.page === 1">
                            <button class="page-link" (click)="changePage(queryParameter.page - 1)">
                                <i class="fa-solid fa-angles-left"></i>
                            </button>
                        </li>

                        <li *ngFor="let page of [1, 2]" class="page-item" [class.active]="queryParameter.page === page">
                            <button class="page-link" (click)="changePage(page)">{{ page }}</button>
                        </li>

                        <li *ngIf="queryParameter.page > 3" class="page-item disabled ellipsis">
                            <span class="page-link">...</span>
                        </li>

                        <li *ngIf="queryParameter.page > 2 && queryParameter.page < totalPages - 1"
                            class="page-item active">
                            <button class="page-link">{{ queryParameter.page }}</button>
                        </li>

                        <li *ngIf="queryParameter.page < totalPages - 2" class="page-item disabled ellipsis">
                            <span class="page-link">...</span>
                        </li>

                        <li *ngFor="let page of [totalPages - 1, totalPages]" class="page-item"
                            [class.active]="queryParameter.page === page">
                            <button class="page-link" (click)="changePage(page)">{{ page }}</button>
                        </li>

                        <li class="page-item" [class.disabled]="queryParameter.page === totalPages">
                            <button class="page-link" (click)="changePage(queryParameter.page + 1)">
                                <i class="fa-solid fa-angles-right"></i>
                            </button>
                        </li>
                    </ul>
                </nav> -->

            </div>
            }
        </div>
    </div>
</div>

