<div class="container-scroller pt-5 mt-5 vh-100">
    <div class="container-fluid page-body-wrapper">
        @if(isLoaded){
        <app-loader></app-loader>
        }
        @else if(tableData.length === 0){
        <div class="d-flex justify-content-center align-items-center ">
            <div class="text-center">
                <h4 class="">No Orders Found</h4>
                <p class="lead">It seems you haven't placed any orders yet.</p>
                <a (click)="back()" class="btn btn-dark">Back</a>
            </div>
        </div>}
        @else{
        <div class="d-none d-md-block">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex align-items-center">
                            <h4 class="card-title mb-sm-0">Orders</h4>
                        </div>
                        <div class="table-responsive  rounded p-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold">Order ID</th>
                                        <th class="font-weight-bold">Amount</th>
                                        <th class="font-weight-bold">Payment</th>
                                        <th class="font-weight-bold">Status</th>
                                        <th class="font-weight-bold">Placed at</th>
                                        <th class="font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of tableData">
                                        <td style="max-width: 200px;">
                                            <div class="overflow-auto" style="white-space: nowrap;">
                                                <div *ngFor="let item of order.items" class="d-inline-block p-1">
                                                    <img [src]="item.wallpaper.images[0]"
                                                        style="width: 3rem; height: 3rem; object-fit: cover;"
                                                        class="rounded" alt="Wallpaper Image">
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ order.finalAmount | currency:"INR" }}</td>
                                        <td class="text-uppercase text-muted">{{ order.paymentMethod }}</td>
                                        <td>
                                            <span class="badge" [ngClass]="{
                                            'bg-warning text-dark': order.status === 'Pending',
                                            'bg-success': order.status === 'Delivered',
                                            'bg-danger': order.status === 'Cancelled'
                                          }">
                                                Order {{ order.status }}
                                            </span>
                                        </td>
                                        <td>
                                            <small class="text-muted">{{ order.orderDate | date: 'dd MMM y, hh:mm a' }}</small>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary px-2 py-0" (click)="orderDetails(order._id)">View</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card View for small devices -->
        <div class="d-md-none">
            <div class="row">
                <div class="d-sm-flex text-center align-items-center mb-2">
                    <h1 class="card-title mb-sm-0">Orders</h1>
                </div>
                <div class="col-12 mb-3" *ngFor="let order of tableData">
                    <div class="card shadow-sm p-2">
                        <div class="d-flex flex-row overflow-auto mb-1">
                            <div *ngFor="let item of order.items" class="p-2">
                                <img [src]="item.wallpaper.images[0]"
                                    style="width: 3rem; height: 3rem; object-fit: cover;" class="rounded"
                                    alt="Wallpaper Image">
                            </div>
                        </div>

                        <div class="card-body p-2 pt-0" (click)="orderDetails(order._id)">
                            <p class="mb-1">
                                <span class="badge " [ngClass]="{
                            'bg-warning text-dark': order.status === 'Pending',
                            'bg-success': order.status === 'Delivered',
                            'bg-danger': order.status === 'Cancelled'
                          }">
                                    Order {{ order.status }}
                                </span>
                            </p>

                            <div class="d-flex justify-content-between">
                                <small class="text-muted">Placed at {{ order.orderDate | date: 'dd MMM y, hh:mm a'
                                    }}</small>
                                <small class="fw-bold">{{ order.finalAmount | currency:"INR" }} <i
                                        class="fa-solid fa-angle-right"></i></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        }
    </div>
</div>

<app-footer></app-footer>