<section class="story">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12 col-md-12">
          <h1 class="fw-bold">The Wallydeco Story</h1>
          <p>
            WALLYDECO was founded in 2022. Over the years, we have grown into a
            thriving business that is dedicated to providing our customers with
            high-quality wall decorating products and exceptional service.
          </p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="image-wrapper mb-4">
          <img class="w-100" src="assets/images/storeimg.webp" alt="Try Refreshing this site..."
            style="max-width: 100%; height: auto" />
        </div>
      </div>
    </div>
  </div>
</section>
