<section class="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content text-center">
                    <h1>
                        <strong>Frequently Asked Questions</strong>
                    </h1>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item my-2 custom-accordion">
                                <h2 class="accordion-header">
                                    <button class="accordion-button custom-accordion-button" type="button" 
                                        data-bs-toggle="collapse" data-bs-target="#collapse1" 
                                        aria-expanded="false" aria-controls="collapse1">
                                        Wallpapers customization options?
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <p>
                                            At Wallydeco, we offer a plethora of customization options
                                            for your wallpapers, from design to paper quality, ensuring
                                            your walls reflect your unique style.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="accordion-item my-2 custom-accordion">
                                <h2 class="accordion-header">
                                    <button class="accordion-button custom-accordion-button" type="button" 
                                        data-bs-toggle="collapse" data-bs-target="#collapse2" 
                                        aria-expanded="false" aria-controls="collapse2">
                                        How to order custom wallpapers?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <p>
                                            Ordering your custom wallpapers from Wallydeco is a breeze.
                                            Simply select your design, and then visit our nearby store
                                            to begin the process. Your personalized wallpaper will be on
                                            its way to you shortly!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="accordion-item my-2 custom-accordion">
                                <h2 class="accordion-header">
                                    <button class="accordion-button custom-accordion-button" type="button" 
                                        data-bs-toggle="collapse" data-bs-target="#collapse3" 
                                        aria-expanded="false" aria-controls="collapse3">
                                        What makes us unique?
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <p>
                                            What sets us apart at Wallydeco is our dedication to
                                            providing top-notch customization options for both design
                                            and paper quality, ensuring your walls are adorned with
                                            nothing but the best.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="accordion-item my-2 custom-accordion">
                                <h2 class="accordion-header">
                                    <button class="accordion-button custom-accordion-button" type="button" 
                                        data-bs-toggle="collapse" data-bs-target="#collapse4" 
                                        aria-expanded="false" aria-controls="collapse4">
                                        Delivery time for custom wallpapers?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <p>
                                            We understand your eagerness to transform your space. Rest
                                            assured, our swift delivery ensures your custom wallpapers
                                            reach you in no time.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="accordion-item my-2 custom-accordion">
                                <h2 class="accordion-header">
                                    <button class="accordion-button custom-accordion-button" type="button" 
                                        data-bs-toggle="collapse" data-bs-target="#collapse5" 
                                        aria-expanded="false" aria-controls="collapse5">
                                        Need assistance with your order?
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <p>
                                            Our friendly support team at Wallydeco is always here to
                                            help. Whether you have questions about designs or need
                                            guidance on customization, we've got you covered.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <section class="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content text-center">
                    <h1>
                        <strong>Curious Minds Ask</strong>
                    </h1>
                    <div id="bootstrap-accordion_0" class="" role="tablist" aria-multiselectable="true">
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="text-dark text-decoration-none panel-title collapsed"
                                    data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_0"
                                    aria-expanded="false" aria-controls="collapse1">
                                    <h5>Wallpapers customization options?</h5>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_0" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingOne" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p>
                                        At Wallydeco, we offer a plethora of customization options
                                        for your wallpapers, from design to paper quality, ensuring
                                        your walls reflect your unique style.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="text-dark text-decoration-none panel-title collapsed"
                                    data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_0"
                                    aria-expanded="false" aria-controls="collapse2">
                                    <h5>How to order custom wallpapers?</h5>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_0" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingOne" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p>
                                        Ordering your custom wallpapers from Wallydeco is a breeze.
                                        Simply select your design, and then visit our nearby store
                                        to begin the process. Your personalized wallpaper will be on
                                        its way to you shortly!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="text-dark text-decoration-none panel-title collapsed"
                                    data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_0"
                                    aria-expanded="false" aria-controls="collapse3">
                                    <h5>What makes us unique?</h5>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_0" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingOne" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p>
                                        What sets us apart at Wallydeco is our dedication to
                                        providing top-notch customization options for both design
                                        and paper quality, ensuring your walls are adorned with
                                        nothing but the best.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="text-dark text-decoration-none panel-title collapsed"
                                    data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_0"
                                    aria-expanded="false" aria-controls="collapse4">
                                    <h5>Delivery time for custom wallpapers?</h5>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_0" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingOne" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p>
                                        We understand your eagerness to transform your space. Rest
                                        assured, our swift delivery ensures your custom wallpapers
                                        reach you in no time.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="text-dark text-decoration-none panel-title collapsed"
                                    data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_0"
                                    aria-expanded="false" aria-controls="collapse5">
                                    <h5>Need assistance with your order?</h5>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_0" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingOne" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p>
                                        Our friendly support team at Wallydeco is always here to
                                        help. Whether you have questions about designs or need
                                        guidance on customization, we&#x27;ve got you covered.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->