/* .btn {
  border-width: 2px;
} */
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
/* .video-wrapper {
  overflow: hidden;
} */
body {
  font-family: var(--display1-font, "Inter Tight");
  background: color-mix(
    in srgb,
    var(--dominant-color, #0f1305) 10%,
    transparent
  );
}
  