.hero-container {
  display: flex;
  background-image: url("https://res.cloudinary.com/dgcc3397p/image/upload/v1739708360/NZ-14_jgubdb.jpg");
  /* background-image: url("../../../../public/assets/images/NZ-14.jpg"); */
  /* background-image: url("./images/wallpapers/pushpa/pushpa_15.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  position: relative;
}

.loopScrollSection {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .hero-container {
    align-items: flex-end;
  }
  .hero-container .row {
    justify-content: center;
  }
  .hero-container .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hero-container .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .hero-container {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .hero-container .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .hero-container .content-wrap {
    width: 100%;
  }
}

.container {
  /* margin: 0; */
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(153, 153, 153, 0.1),
    rgba(0, 0, 0, 0.6)
  );
  padding-bottom: 1rem;
}
