<section class="cid-u50PdXMsa1" id="hero-17-u50PdXMsa1">
  <div class="container" style="
      background: linear-gradient(
        to bottom,
        rgba(180, 180, 180, 0.1),
        rgba(0, 0, 0, 0.4)
      );
    ">
    <div class="row">
      <div class="text-center col-12 col-md-10">
        <p style="font-size: 40px" id="typewriter">
          <strong style="color: white">
            WALLY<span style="color: black; font-weight: bold" id="job"></span>_
          </strong>
        </p>
        <h4 class="text-white">
          Unleash Your Walls with the Most Dazzling Wallpaper Designs
        </h4>
        <div class="d-flex align-items-center flex-column">
          <a class="py-2 px-3 my-2 d-inline btn btn-dark text-center rounded-pill"
            href="https://maps.app.goo.gl/gphgPPppa2vM7mY76" target="_blank">
            Nearby Store
            <!-- <i class="material-icons m-0 p-0">&#xe8d1;</i> -->
            <svg style="padding-left: 4px" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
            fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
            <path
              d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z" />
          </svg>
          </a>
          <!-- <a class="my-2 px-3 btn btn-success rounded-pill" href="https://wa.me/917021018644" target="_blank">
            <i style="font-size: 24px" class="fa">&#xf232;</i>
            Say Hi!
          </a> -->
          <a class="my-2 px-3 btn btn-success rounded-pill" href="https://mybillbook.in/store/wallydeco" target="_blank"
            style="animation: blink 1s infinite;">
            <i style="font-size: 24px" class="fa">&#xf0ac;</i>
            Shop Online!
          </a>
          <style>
            @keyframes blink {
              0% {
                opacity: 1;
              }

              50% {
                opacity: 0.5;
              }

              100% {
                opacity: 1;
              }
            }
          </style>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cid-u50PdXPQob" id="loopScrollSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <marquee behavior="scroll" direction="left" style="font-weight: bold; font-size: 50px">
          * Endless Designs * Premium Quality * Easy Customization * Swift
          Delivery * Affordable Price * Endless Designs * Premium Quality * Easy
          Customization * Swift Delivery * Affordable Price *
        </marquee>
      </div>
    </div>
  </div>
</section>

<div>
  <app-scroll-carousel></app-scroll-carousel>
</div>

<section class="cid-u50PdXOMn6" id="blog-2-u50PdXOMn6">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 text-center">
        <h1 class="fw-bold">Top Picked Wallpapers</h1>
      </div>
    </div>
    <div class="row" id="topPickedWallpapers">
      <!-- Dynamic content will be inserted here -->
    </div>
  </div>
</section>

<!-- store histtory -->
<section class="cid-u50OrRvbJI" id="image-12-u50OrRvbJI">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12 col-md-12">
          <h1 class="fw-bold">The Wallydeco Story</h1>
          <p>
            WALLYDECO was founded in 2022. Over the years, we have grown into a
            thriving business that is dedicated to providing our customers with
            high-quality wall decorating products and exceptional service.
          </p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="image-wrapper mb-4">
          <img class="w-100" src="assets/images/storeimg.webp" alt="Try Refreshing this site..."
            style="max-width: 100%; height: auto" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- abstract frames -->
<section class="cid-u50PdXNjdr" id="product-list-8-u50PdXNjdr">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>
          <a style="color: #000000"><strong>Abstract Frames</strong></a>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="assets/images/4945581.jpg" alt="Try Refreshing this site..." />
          </div>
          <div class="item-content">
            <h5>
              <strong>Dreamscape Delight</strong>
            </h5>
            <p>
              Escape to a world of imagination with this whimsical wall art.
            </p>
          </div>
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="assets/images/4945584.jpg" alt="Try Refreshing this site..." />
          </div>
          <div class="item-content">
            <h5>
              <strong>Luxury Linen Elegance</strong>
            </h5>
            <p>
              Elevate your space with the luxurious touch of linen-inspired
              designs.
            </p>
          </div>
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="assets/images/5179314.jpg" alt="Try Refreshing this site..." />
          </div>
          <div class="item-content">
            <h5>
              <strong>Vintage Floral Charm</strong>
            </h5>
            <p>
              Bring a touch of nostalgia and elegance with this vintage floral
              art.<br />
            </p>
          </div>
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="assets/images/5106740.jpg" alt="Try Refreshing this site..." />
          </div>
          <div class="item-content">
            <h5>
              <strong>Geometric Fusion</strong>
            </h5>

            <p>
              Add a modern twist to your walls with this geometrically inspired
              abstract frames.<br />
            </p>
          </div>
        </div>
      </div>

      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <img src="assets/images/10.jpg" alt="Try Refreshing this site..." />
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <img src="assets/images/11.jpg" alt="Try Refreshing this site..." />
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <img src="assets/images/12.jpg" alt="Try Refreshing this site..." />
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <img src="assets/images/13.jpg" alt="Try Refreshing this site..." />
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <img src="assets/images/14.jpg" alt="Try Refreshing this site..." />
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <img src="assets/images/15.jpg" alt="Try Refreshing this site..." />
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <img src="assets/images/16.jpg" alt="Try Refreshing this site..." />
        </div>
      </div>
      <div class="item col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <img src="assets/images/17.jpg" alt="Try Refreshing this site..." />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- features -->
<section class="cid-u50PdXOU5J" id="">
  <div class="container">
    <div class="row justify-content-center"></div>
    <div class="row">
      <div class="item col-12 col-lg-4 active item-mb">
        <div class="item-wrapper p-3">
          <div class="align-left">
            <h5 class="">
              <strong>Endless Designs</strong>
            </h5>
            <p class="m-0">
              Choose from a vast array of designs to suit every taste.
            </p>
          </div>
        </div>
      </div>
      <div class="item col-12 col-lg-4 item-mb">
        <div class="item-wrapper p-3">
          <div class="align-left">
            <h5 class="">
              <strong>Paper Options</strong>
            </h5>
            <p class="m-0">
              Customize your wallpaper with various paper types for the perfect
              finish.
            </p>
          </div>
        </div>
      </div>
      <div class="item col-12 col-lg-4 item-mb">
        <div class="item-wrapper p-3">
          <div class="align-left">
            <h5 class="">
              <strong>Easy Installation</strong>
            </h5>
            <p class="m-0">
              Simple installation process for hassle-free decorating.
            </p>
          </div>
        </div>
      </div>
      <div class="item col-12 col-lg-4 item-mb">
        <div class="item-wrapper p-3">
          <div class="align-left">
            <h5 class="">
              <strong>Express Shipping</strong>
            </h5>
            <p class="m-0">
              Get your custom wallpaper delivered quickly to your doorstep.
            </p>
          </div>
        </div>
      </div>
      <div class="item col-12 col-lg-4 item-mb">
        <div class="item-wrapper p-3">
          <div class="align-left">
            <h5 class="">
              <strong>Interactive Showroom</strong>
            </h5>
            <p class="m-0">
              Experience our designs in our nearby showroom before making a
              choice.
            </p>
          </div>
        </div>
      </div>
      <div class="item col-12 col-lg-4 item-mb">
        <div class="item-wrapper p-3">
          <div class="align-left">
            <h5 class="">
              <strong>Easy Customization</strong>
            </h5>
            <p class="m-0">Customized wallpaper designs for wall.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cid-u50PdXOKmK" id="faq-1-u50PdXOKmK">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-10 m-auto">
        <div class="content text-center">
          <h1>
            <strong>Curious Minds Ask</strong>
          </h1>
          <div id="bootstrap-accordion_0" class="" role="tablist" aria-multiselectable="true">
            <div class="card mb-3">
              <div class="card-header" role="tab" id="headingOne">
                <a role="button" class="text-dark text-decoration-none panel-title collapsed" data-toggle="collapse"
                  data-bs-toggle="collapse" data-core="" href="#collapse1_0" aria-expanded="false"
                  aria-controls="collapse1">
                  <h5>Wallpapers customization options?</h5>
                  <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                </a>
              </div>
              <div id="collapse1_0" class="panel-collapse noScroll collapse" role="tabpanel"
                aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                <div class="panel-body">
                  <p>
                    At Wallydeco, we offer a plethora of customization options
                    for your wallpapers, from design to paper quality, ensuring
                    your walls reflect your unique style.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header" role="tab" id="headingOne">
                <a role="button" class="text-dark text-decoration-none panel-title collapsed" data-toggle="collapse"
                  data-bs-toggle="collapse" data-core="" href="#collapse2_0" aria-expanded="false"
                  aria-controls="collapse2">
                  <h5>How to order custom wallpapers?</h5>
                  <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                </a>
              </div>
              <div id="collapse2_0" class="panel-collapse noScroll collapse" role="tabpanel"
                aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                <div class="panel-body">
                  <p>
                    Ordering your custom wallpapers from Wallydeco is a breeze.
                    Simply select your design, and then visit our nearby store
                    to begin the process. Your personalized wallpaper will be on
                    its way to you shortly!
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header" role="tab" id="headingOne">
                <a role="button" class="text-dark text-decoration-none panel-title collapsed" data-toggle="collapse"
                  data-bs-toggle="collapse" data-core="" href="#collapse3_0" aria-expanded="false"
                  aria-controls="collapse3">
                  <h5>What makes us unique?</h5>
                  <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                </a>
              </div>
              <div id="collapse3_0" class="panel-collapse noScroll collapse" role="tabpanel"
                aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                <div class="panel-body">
                  <p>
                    What sets us apart at Wallydeco is our dedication to
                    providing top-notch customization options for both design
                    and paper quality, ensuring your walls are adorned with
                    nothing but the best.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header" role="tab" id="headingOne">
                <a role="button" class="text-dark text-decoration-none panel-title collapsed" data-toggle="collapse"
                  data-bs-toggle="collapse" data-core="" href="#collapse4_0" aria-expanded="false"
                  aria-controls="collapse4">
                  <h5>Delivery time for custom wallpapers?</h5>
                  <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                </a>
              </div>
              <div id="collapse4_0" class="panel-collapse noScroll collapse" role="tabpanel"
                aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                <div class="panel-body">
                  <p>
                    We understand your eagerness to transform your space. Rest
                    assured, our swift delivery ensures your custom wallpapers
                    reach you in no time.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header" role="tab" id="headingOne">
                <a role="button" class="text-dark text-decoration-none panel-title collapsed" data-toggle="collapse"
                  data-bs-toggle="collapse" data-core="" href="#collapse5_0" aria-expanded="false"
                  aria-controls="collapse5">
                  <h5>Need assistance with your order?</h5>
                  <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                </a>
              </div>
              <div id="collapse5_0" class="panel-collapse noScroll collapse" role="tabpanel"
                aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                <div class="panel-body">
                  <p>
                    Our friendly support team at Wallydeco is always here to
                    help. Whether you have questions about designs or need
                    guidance on customization, we&#x27;ve got you covered.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cid-u50PdXP9Sd" id="follow-us-2-u50PdXP9Sd">
  <div class="container">
    <div class="row text-center">
      <h1>
        <strong>Follow Us</strong>
      </h1>
      <div class="col-12">
        <div class="social-row">
          <div class="">
            <a href="https://www.instagram.com/wallydeco.store" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 448 512">
                <path fill="#E4405F"
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>