<section class="hero-container position-relative overflow-hidden py-5 py-md-8 d-flex flex-column justify-content-end"
  style="min-height: 90vh;">
  <div class="container position-relative z-2 mb-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <h2 class="display-3 display-md-1 fw-bold text-white mb-2 mb-md-3">
          <span class="typewriter">
            WALLY<span class="text-dark" id="job">DECO</span>_
          </span>
          <span class="cursor">|</span>
        </h2>
        <p class="lead text-white mb-4 mb-md-4 text-shadow">
          Unleash Your Walls with the Most Dazzling Wallpaper Designs
        </p>
        <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
          <a class="btn btn-dark btn-md rounded-pill px-3 py-2 w-auto hover-grow"
            href="https://maps.app.goo.gl/gphgPPppa2vM7mY76" target="_blank">
            <i class="fas fa-store me-2"></i>
            Store Location
          </a>
          <a class="btn btn-success btn-md rounded-pill px-3 py-2 w-auto hover-grow shine-effect"
            href="https://mybillbook.in/store/wallydeco" target="_blank">
            <i class="fas fa-globe me-2"></i>
            Shop Online!
          </a>
        </div>


      </div>
    </div>
  </div>
  <div class="hero-overlay"></div>
</section>


<section class="bg-light py-2 border-top border-bottom overflow-hidden">
  <div class="text-dark fw-bold">
    <marquee behavior="scroll" direction="left" scrollamount="6">
      <ng-container *ngFor="let item of marqueeItems">
        <span class="me-4 fs-6 fs-md-5">✦ {{ item }} ✦</span>
      </ng-container>
      <ng-container *ngFor="let item of marqueeItems">
        <span class="me-4 fs-6 fs-md-5">✦ {{ item }} ✦</span>
      </ng-container>
    </marquee>
  </div>
</section>



<!-- carousel -->
<app-scroll-carousel></app-scroll-carousel>

<!-- top-picked wallpaper -->
<app-top-picked-wallpapers></app-top-picked-wallpapers>

<!-- store history -->
<app-story></app-story>

<!-- abstract frames -->
<app-abstract-frame></app-abstract-frame>

<!-- features -->
<app-features></app-features>

<!-- faq -->
<app-faq></app-faq>

<!-- follow -->
<app-follow></app-follow>

<!-- footer -->
<app-footer></app-footer>