<section class="blog-2 cid-u50PdXOMn6" id="blog-2-u50PdXOMn6">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5">
        <div class="col-12 content-head">
          <div class="mbr-section-head">
            <h4
              style="margin-top: 10%"
              class="mbr-section-title mbr-fonts-style align-center display-2"
            >
              <strong>Trending Collection</strong>
            </h4>
          </div>
        </div>
      </div>
      <div class="row" id="trendingCollection">
        <!-- Dynamic content will be inserted here -->
      </div>
    </div>
  </section>
