.trending {
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.trending img,
.trending .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending .item-img{
  margin-bottom: 2rem;
}

img{
  border-radius: 1rem;
}