.cid-u50PdXMsa1 {
  display: flex;
  background-image: url("./images/NZ-14.jpg");
  /* background-image: url("./images/wallpapers/pushpa/pushpa_15.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  position: relative;
}
/* .cid-u50PdXMsa1 .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
} */
@media (min-width: 768px) {
  .cid-u50PdXMsa1 {
    align-items: flex-end;
  }
  .cid-u50PdXMsa1 .row {
    justify-content: center;
  }
  .cid-u50PdXMsa1 .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u50PdXMsa1 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-u50PdXMsa1 {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-u50PdXMsa1 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u50PdXMsa1 .content-wrap {
    width: 100%;
  }
}
.cid-u50PdXMsa1 .mbr-section-title,
.cid-u50PdXMsa1 .mbr-section-subtitle {
  text-align: center;
}
.cid-u50PdXMsa1 .mbr-text,
.cid-u50PdXMsa1 .mbr-section-btn {
  text-align: center;
}

.cid-u50PdXPQob {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u50PdXPQob .item:focus,
.cid-u50PdXPQob span:focus {
  outline: none;
}
.cid-u50PdXPQob .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-u50PdXPQob .content-head {
  max-width: 800px;
}
.cid-u50PdXPQob .item {
  color: #232323;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-u50PdXPQob .item {
    min-height: 45px;
  }
}

.cid-u50PdXOz2G {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: transparent;
}
.cid-u50PdXOz2G .mbr-fallback-image.disabled {
  display: none;
}
.cid-u50PdXOz2G .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-u50PdXOz2G .container-fluid {
    padding: 0;
  }
}
.cid-u50PdXOz2G .embla__slide {
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-u50PdXOz2G .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-u50PdXOz2G .embla__slide a {
  display: block;
  width: 100%;
}
.cid-u50PdXOz2G .embla__button--next,
.cid-u50PdXOz2G .embla__button--prev {
  display: flex;
}
.cid-u50PdXOz2G .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-u50PdXOz2G .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-u50PdXOz2G .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 4s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u50PdXOz2G .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-u50PdXOz2G .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-u50PdXOz2G .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-u50PdXOz2G .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-u50PdXOz2G .embla {
  position: relative;
  width: 100%;
}
.cid-u50PdXOz2G .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-u50PdXOz2G .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-u50PdXOz2G .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-u50PdXOz2G .embla__slide a {
  cursor: grab;
}
.cid-u50PdXOz2G .embla__slide a:active {
  cursor: grabbing;
}
.cid-u50PdXOz2G .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-u50PdXOz2G .item-menu-overlay {
  border-radius: 2rem;
}
.cid-u50PdXOz2G .mbr-section-title {
  color: #232323;
}
.cid-u50PdXOz2G .mbr-section-subtitle {
  color: #232323;
}
.cid-u50PdXOz2G .mbr-box {
  color: #ffffff;
}
.cid-u50PdXOz2G .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-u50PdXOz2G img,
.cid-u50PdXOz2G .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u50PdXOz2G .item-wrapper {
  position: relative;
}
.cid-u50PdXOz2G .content-head {
  max-width: 800px;
}

.cid-u50PdXOMn6 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.cid-u50PdXOMn6 .item-subtitle {
  line-height: 1.2;
  color: #000000;
}

.cid-u50PdXOMn6 img,
.cid-u50PdXOMn6 .item-img {
  width: 100%;
  height: 100%;
  /* height: 300px; */
  object-fit: cover;
}

.cid-u50PdXOMn6 .item:focus,
.cid-u50PdXOMn6 span:focus {
  outline: none;
}

.cid-u50PdXOMn6 .item {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-u50PdXOMn6 .item {
    margin-bottom: 1rem;
  }
}

.cid-u50PdXOMn6 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.cid-u50PdXOMn6 .mbr-section-title {
  color: #000000;
}

.cid-u50PdXOMn6 .mbr-text,
.cid-u50PdXOMn6 .mbr-section-btn {
  color: #000000;
}

.cid-u50PdXOMn6 .item-title {
  color: #000000;
}

.cid-u50PdXOMn6 .content-head {
  max-width: 800px;
}

.image-wrapper {
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  display: block;
  transition: transform 0.5s ease;
}
.cid-u50OrRvbJI {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(233, 233, 233);
}
/* .image-wrapper.auto-slide img {
    animation: slideImage 5s linear infinite;
} */

@keyframes slideImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.cid-u50PdXNjdr {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: transparent;
}

.cid-u50PdXNjdr img,
.cid-u50PdXNjdr .item-img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.cid-u50PdXNjdr .item:focus,
.cid-u50PdXNjdr span:focus {
  outline: none;
}

.cid-u50PdXNjdr .item {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-u50PdXNjdr .item {
    margin-bottom: 1rem;
  }
}

.cid-u50PdXNjdr .item-content {
  /* margin-top: 2rem; */
  /* padding: 0 2.25rem 2.25rem; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u50PdXNjdr .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .cid-u50PdXNjdr .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

.cid-u50PdXNjdr .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.cid-u50PdXNjdr .item-wrapper .item-footer {
  margin-top: auto;
}

.cid-u50PdXNjdr .mbr-section-title {
  color: #000000;
}

.cid-u50PdXNjdr .item-title {
  text-align: left;
}

.cid-u50PdXNjdr .item-subtitle {
  text-align: left;
}

.cid-u50PdXNjdr .mbr-text,
.cid-u50PdXNjdr .item .mbr-section-btn {
  text-align: left;
}

.cid-u50PdXNjdr .content-head {
  max-width: 800px;
}

.cid-u50PdXOU5J {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media (max-width: 767px) {
    padding-bottom: 4rem;
  }
  background-image: url("./images/NZ-6.jpg");
}
.cid-u50PdXOU5J .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-u50PdXOU5J .mbr-fallback-image.disabled {
  display: none;
}
.cid-u50PdXOU5J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u50PdXOU5J .item-wrapper {
  background: #ffffff;
  /* padding: 2.25rem; */
  height: 100%;
}
@media (max-width: 767px) {
  .cid-u50PdXOU5J .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u50PdXOU5J .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-u50PdXOU5J .card-title,
.cid-u50PdXOU5J .iconfont-wrapper {
  color: #000000;
}
.cid-u50PdXOU5J .content-head {
  max-width: 800px;
}
.cid-u50PdXOU5J .mbr-section-title {
  color: #000000;
}
.cid-u50PdXOU5J .mbr-section-subtitle {
  color: #000000;
}
.cid-u50PdXOU5J .card-text {
  color: #000000;
}
.cid-u50PdXOU5J .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u50PdXOU5J .item-mb {
    margin-bottom: 1rem;
  }
}

.cid-u50PdXOKmK {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: transparent;
}
.cid-u50PdXOKmK .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: "Moririse2" !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
}
.cid-u50PdXOKmK .panel-group {
  border: none;
}
.cid-u50PdXOKmK .card-header {
  padding: 1.2rem 0.5rem;
}
@media (max-width: 767px) {
  .cid-u50PdXOKmK .card-header {
    padding: 1rem 0rem;
  }
}
.cid-u50PdXOKmK .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-u50PdXOKmK .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}
.cid-u50PdXOKmK .img-col {
  padding: 0;
}
.cid-u50PdXOKmK .img-item {
  height: 100%;
}
.cid-u50PdXOKmK img {
  height: 100%;
  object-fit: cover;
}
.cid-u50PdXOKmK .collapsed span {
  transform: rotate(0deg);
}
.cid-u50PdXOKmK .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-u50PdXOKmK p {
  margin-bottom: 0.3rem;
}
.cid-u50PdXOKmK .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-u50PdXOKmK .card {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .cid-u50PdXOKmK .card {
    padding: 1.5rem;
  }
}
.cid-u50PdXOKmK .panel-text {
  color: #000000;
}
.cid-u50PdXOKmK .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-u50PdXOKmK .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-u50PdXOKmK .panel-title-edit,
.cid-u50PdXOKmK .mbr-iconfont {
  color: #000000;
}

.cid-u50PdXP9Sd {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u50PdXP9Sd .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u50PdXP9Sd .social-row .soc-item {
  margin: 8px;
}
.cid-u50PdXP9Sd .social-row .soc-item a:hover .mbr-iconfont,
.cid-u50PdXP9Sd .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-u50PdXP9Sd .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: var(--primary-color, #393193);
  transition: all 0.3s ease-in-out;
}
.cid-u50PdXP9Sd .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u50PdXP9Sd .mbr-section-title {
  color: #ffffff;
}
.cid-u50PdXP9Sd .mbr-section-title,
.cid-u50PdXP9Sd .social-list {
  color: #000000;
}

.cid-u50PdXPMZA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u50PdXPMZA .mbr-fallback-image.disabled {
  display: none;
}
.cid-u50PdXPMZA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u50PdXPMZA .mbr-text {
  color: #000000;
}
.cid-u50PdXPMZA .mbr-section-subtitle {
  color: #000000;
  text-align: left;
}
.cid-u50PdXPMZA .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u50PdXPMZA .main-button {
    margin-bottom: 2rem;
  }
}
.cid-u50PdXPMZA .mbr-section-subtitle,
.cid-u50PdXPMZA .main-button {
  color: #000000;
}
.cid-u50PdXPMZA .google-map {
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}
.cid-u50PdXPMZA .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-u50PdXPMZA .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-u50PdXPMZA .google-map[data-state] {
  background: #e9e5dc;
}
.cid-u50PdXPMZA .google-map[data-state="loading"] [data-state-details] {
  display: none;
}

:root {
  --background: #ebf0f5;
  --dominant-color: #336699;
  --primary-color: #9ee493;
  --secondary-color: #86bbd8;
  --success-color: #62e2a7;
  --danger-color: #e4606d;
  --warning-color: #ffd145;
  --info-color: #4fdaf5;
  --background-text: #000000;
  --dominant-text: #ffffff;
  --primary-text: #000000;
  --secondary-text: #000000;
  --success-text: #000000;
  --danger-text: #ffffff;
  --warning-text: #000000;
  --info-text: #000000;
}
