@if(isLoaded){
<app-loader></app-loader>
}@else {

<div class="container mt-5 pt-5 mb-3">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card rounded-4 ">
        <div class="row g-0  ">
          <div class="col-md-4 text-white text-center py-2 rounded-4" style="background: rgba(176, 163, 141, 0.7);">
            <div class="justify-content-end d-flex">
              <div class="dropdown">

                <button class="btn border-0 bg-transparent mx-2 dropdown-toggle" type="button"
                  data-bs-toggle="dropdown">
                  <i class="fa-solid fa-ellipsis-vertical text-dark fs-4"></i>
                </button>

                <div>

                </div>
                <ul class="dropdown-menu dropdown-menu-dark w-50">
                  <li><button *ngIf="loggedUser?.role==='admin'" [routerLink]="['/user/admin-dashboard']"
                      routerLinkActive="router-link-active" class="dropdown-item" type="button">Dashboard</button></li>
                  <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit
                      picture</button></li>
                  <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">Edit
                      info</button></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><button class="dropdown-item text-danger" (click)="logout()" type="button">Log out</button></li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-center ">
              <img style="width: 6rem;height: 6rem;" [src]="loggedUser?.image" alt="User" class="img-fluid rounded-circle mb-3" />

            </div>

            <h4 class="fw-bold m-0 p-0 text-capitalize">{{ loggedUser?.name }}</h4>
            <p class="m-0 p-0">{{ loggedUser?.role }}</p>
            <i class="bi bi-pencil-fill"></i>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h6 class="fw-bold border-bottom pb-2">Information</h6>

              </div>
              <div class="row mb-3">
                <div class="col-6">
                  <p class="fw-bold mb-1">Email</p>
                  <p class="text-muted">{{ loggedUser?.email }}</p>
                </div>
                <div class="col-6">
                  <p class="fw-bold mb-1">Phone</p>
                  <p class="text-muted">{{ loggedUser?.phone }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p class="fw-bold mb-1">Address</p>
                  <p class="text-muted">
                    {{ loggedUser?.address?.street }}, {{ loggedUser?.address?.city }},
                    {{ loggedUser?.address?.state }}-{{ loggedUser?.address?.zip }}
                  </p>
                </div>
                <div class="col-md-6" *ngIf="loggedUser?.Orders">
                  <p class="fw-bold mb-1">Orders</p>
                  <p class="text-muted">{{ loggedUser?.Orders }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<app-edit-profile *ngIf="loggedUser" [user]="loggedUser"> </app-edit-profile>

<app-edit-profile-picture *ngIf="loggedUser" (getUpdatedUserData)="getLoggedUser()"
  [user]="loggedUser"></app-edit-profile-picture>

<app-footer></app-footer>

}