<section class="features">
    <div class="container">
      <div class="row justify-content-center"></div>
      <div class="row">
        <div class="item col-12 col-lg-4 active item-mb">
          <div class="item-wrapper p-3">
            <div class="align-left">
              <h5 class="">
                <strong>Endless Designs</strong>
              </h5>
              <p class="m-0">
                Choose from a vast array of designs to suit every taste.
              </p>
            </div>
          </div>
        </div>
        <div class="item col-12 col-lg-4 item-mb">
          <div class="item-wrapper p-3">
            <div class="align-left">
              <h5 class="">
                <strong>Paper Options</strong>
              </h5>
              <p class="m-0">
                Customize your wallpaper with various paper types for the perfect
                finish.
              </p>
            </div>
          </div>
        </div>
        <div class="item col-12 col-lg-4 item-mb">
          <div class="item-wrapper p-3">
            <div class="align-left">
              <h5 class="">
                <strong>Easy Installation</strong>
              </h5>
              <p class="m-0">
                Simple installation process for hassle-free decorating.
              </p>
            </div>
          </div>
        </div>
        <div class="item col-12 col-lg-4 item-mb">
          <div class="item-wrapper p-3">
            <div class="align-left">
              <h5 class="">
                <strong>Express Shipping</strong>
              </h5>
              <p class="m-0">
                Get your custom wallpaper delivered quickly to your doorstep.
              </p>
            </div>
          </div>
        </div>
        <div class="item col-12 col-lg-4 item-mb">
          <div class="item-wrapper p-3">
            <div class="align-left">
              <h5 class="">
                <strong>Interactive Showroom</strong>
              </h5>
              <p class="m-0">
                Experience our designs in our nearby showroom before making a
                choice.
              </p>
            </div>
          </div>
        </div>
        <div class="item col-12 col-lg-4 item-mb">
          <div class="item-wrapper p-3">
            <div class="align-left">
              <h5 class="">
                <strong>Easy Customization</strong>
              </h5>
              <p class="m-0">Customized wallpaper designs for wall.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  