<section class="slider4 mbr-embla cid-u50PdXOz2G" id="gallery-13-u50PdXOz2G">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="embla position-relative" data-skip-snaps="true" data-align="center"
            data-contain-scroll="trimSnaps" data-loop="true" data-auto-play="true" data-auto-play-interval="2"
            data-draggable="true">
            <div class="embla__viewport">
              <div class="embla__container">
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w1.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w2.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w3.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w4.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w5.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w6.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w7.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w8.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w9.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w10.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem">
                  <div class="slide-content">
                    <div class="item-img">
                      <div class="item-wrapper">
                        <img src="assets/images/wallpapers/w14.jpg" alt="Try Refreshing this site..." />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="embla__button embla__button--prev">
              <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
              <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
              <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
              <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>