<section class="carousel slide py-5 " id="imageCarousel" data-bs-ride="carousel">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img src="assets/images/wallpapers/w1.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 1">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w2.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 2">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w3.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 3">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w4.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 4">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w5.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 5">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w6.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 6">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w7.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 7">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w8.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 8">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w9.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 9">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w10.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 10">
          </div>
          <div class="carousel-item">
            <img src="assets/images/wallpapers/w14.jpg" class="d-block " style="width: 100%; height: 400px;"
              alt="Image 11">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <span class="bg-dark pt-1 rounded-1 text-center "><span class="carousel-control-prev-icon"
              aria-hidden="true"></span></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <span class="bg-dark pt-1 rounded-1 text-center "><span class="carousel-control-next-icon"
              aria-hidden="true"></span></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>