<section class="carousel slide py-5" id="imageCarousel" data-bs-ride="carousel">
  <div class="container">
    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- First Slide -->
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <img src="assets/images/wallpapers/w1.jpg" class="d-block w-100" style="height: 400px" alt="Image 1" />
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <img src="assets/images/wallpapers/w2.jpg" class="d-block w-100" style="height: 400px" alt="Image 2" />
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <img src="assets/images/wallpapers/w3.jpg" class="d-block w-100" style="height: 400px" alt="Image 3" />
            </div>
          </div>
        </div>

        <!-- Second Slide -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-12">
              <img src="assets/images/wallpapers/w5.jpg" class="d-block w-100" style="height: 400px" alt="Image 5" />
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <img src="assets/images/wallpapers/w6.jpg" class="d-block w-100" style="height: 400px" alt="Image 6" />
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <img src="assets/images/wallpapers/w7.jpg" class="d-block w-100" style="height: 400px" alt="Image 7" />
            </div>
          </div>
        </div>

        <!-- Third Slide -->
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <img src="assets/images/wallpapers/w9.jpg" class="d-block w-100" style="height: 400px" alt="Image 9" />
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <img src="assets/images/wallpapers/w10.jpg" class="d-block w-100" style="height: 400px" alt="Image 10" />
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <img src="assets/images/wallpapers/w14.jpg" class="d-block w-100" style="height: 400px" alt="Image 11" />
            </div>
          </div>
        </div>
      </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>