<section class="my-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12">
          <div class="text-center">
            <h1 class="fw-bold">Connect Now</h1>
          </div>
          <div>
            <h6 class="m-0">Email:</h6>
            <h6 class="fw-bold">wallydecostoregmail.com</h6>
            <h6 class="m-0">Serviceable Cities:</h6>
            <h6 class="fw-bold">
              Nanded, Latur, Parbhani, Chhatrapati Sambhaji Nagar & Hyderabad
            </h6>
            <h6 class="m-0">Working Hours:</h6>
            <h6 class="fw-bold">Mon-Sun: 11am-9pm</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-8 side-features">
        <!-- Add your content for the right column here if needed -->
      </div>
    </div>
  </div>
</section>

<section class="container bg-dark text-white py-2">
  <div class="col-12">
    <p class="m-0 text-secondary">© 2024 Wallydeco. All Rights Reserved</p>
  </div>
</section>