<section class="contacts03 cid-u50PdXPMZA" id="contacts-11-u50PdXPMZA">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12">
          <h5 class="mbr-section-title mbr-fonts-style mt-0 mb-4 display-2">
            <strong>Connect Now</strong>
          </h5>
          <p class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-7">
            Email:<br />
            <strong>wallydecostoregmail.com</strong><br /><br />
            Serviceable Cities:<br />
            <strong>Nanded, Latur, Parbhani, Chhatrapati Sambhaji Nagar &
              Hyderabad</strong><br /><br />
            Working Hours:<br />
            <strong>Mon-Sun: 11am-9pm</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-8 side-features">
        <!-- Add your content for the right column here if needed -->
      </div>
    </div>
  </div>
</section>



<style>
  .cid-u50PdXPaEk {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000000;
    overflow: hidden;
  }
</style>
<section class="footer4 cid-u50PdXPaEk" once="footers" id="footer-4-u50PdXPaEk">
  <div class="container">
    <div class="media-container-row align-center mbr-white">
      <div class="col-12">
        <p class="mbr-text mb-0 mbr-fonts-style display-7">
          © 2024 Wallydeco. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</section>
