<footer>
  <div class="container mt-5 mb-3">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="logo-part">
              <img
                src="https://res.cloudinary.com/dgcc3397p/image/upload/v1739708293/0001_dkdjbl.jpg"
                class="w-50 logo-footer rounded-0"
              />
              <p>WalyDeco Store, MH 431601</p>
              <p>
                WALLYDECO, founded in 2022, is committed to delivering
                high-quality wall decor solutions with exceptional service. Our
                passion for design has helped us grow into a trusted name in
                home styling.
              </p>
            </div>
          </div>
          <div class="col-md-6 px-4">
            <h6>About Company</h6>
            <p>
              We offer a wide range of premium wallpapers and customization
              options to suit every style. Our commitment to excellence and
              customer satisfaction drives us to deliver innovative designs and
              top-notch service, making us a trusted name in home and interior
              decor.
            </p>
            <button
              class="btn btn-footer btn-outline-secondary rounded-pill mb-2"
            >
              More Info</button
            ><br />
            <button
              class="btn btn-footer btn-outline-secondary rounded-pill mb-2"
            >
              Contact Us
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 px-4">
            <h6>Explore</h6>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li><a [routerLink]="['/home']"> Home</a></li>
                  <li><a [routerLink]="['/floral']"> Floral</a></li>
                  <li><a [routerLink]="['/trending']"> Trending</a></li>
                  <li><a [routerLink]="['/frames']"> Frames</a></li>
                  <li><a [routerLink]="['/profile']"> Profile</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 connect-with-us">
            <h6>Connect With Us</h6>

            <ul>
              <li>
                <a> <b>Email:</b> wallydecostore&#64;gmail.com</a>
              </li>
              <li>
                <a>
                  <b>Available Cities:</b> Nanded, Latur, Parbhani, Chhatrapati
                  Sambhaji Nagar & Hyderabad
                </a>
              </li>
              <li>
                <a> <b>Working Hours:</b> Mon-Sun: 11am-9pm</a>
              </li>
            </ul>

            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <h5 class="fw-bold">Stay tuned for exciting updates!</h5>
                <p class="text-muted">More features coming soon...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12 text-center">
          <p class="m-0 text-secondary">
            © 2024 Wallydeco. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
