@if(isLoaded){
<app-loader></app-loader>
}
@else{
<div class="row g-4" [@listAnimation]="wallpaperList.length">
  <div *ngFor="let item of wallpaperList; let i = index" class="col-6 col-md-4 col-lg-3">
    <div class="card h-100 border-0 overflow-hidden transition-all hover-effect">
      <div class="position-relative">
        <!-- Favorite Icon -->
        <i class="position-absolute top-0 end-0 m-3 p-2 rounded-circle bg-white bg-opacity-75 fs-5 z-2 heart-beat"
          [ngClass]="item.isFavourite ? 'fas fa-heart text-danger' : 'far fa-heart text-dark'"
          (click)="toggleFavorite(item)">
        </i>

        <!-- Out of Stock Badge -->
        <span *ngIf="item.stock === 0"
          class="position-absolute bottom-0 start-0 m-2 px-2 py-1 bg-danger text-white fw-semibold rounded z-2"
          style="font-size: 0.8rem;">
          Out of Stock
        </span>

        <!-- Wallpaper Image -->
        <img [src]="item.images[0]" alt="Floral wallpaper" class="img-fluid w-100 object-fit-cover floral-image"
          (click)="openWallpaper(item._id)" style="height: 220px;" [@fadeIn]>
      </div>

      <div class="card-body p-2">
        <p class="m-0 card-title text-dark text-capitalize">{{ item.title }}</p>
        <p class="card-text lead m-0 ">{{ item.wallpaperId }}</p>
        <p class="card-text lead">
          <span style="color: rgb(83, 64, 35);">{{ item.price | currency: 'INR' }}</span>
          <span class="text-muted"> /roll </span>
        </p>
      </div>
    </div>

  </div>
</div>
}