@if(isLoaded){
<app-loader></app-loader>
}@else {
<section class="frames py-5 mt-5 bg-light">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-12 text-center">
        <h1 class="fw-bold display-5 text-dark position-relative pb-3">
          Abstract Frame Collection
          <span class="position-absolute bottom-0 start-50 translate-middle-x bg-dark bg-gradient px-5"
            style="height: 4px; width: 100px;"></span>
        </h1>
      </div>
    </div>
    <div class="row" [@listAnimation]="framesList.length">
      <div *ngFor="let item of framesList" class="col-6 col-md-6 col-lg-3 d-flex flex-column flex-lg-row">
        <div class="card h-100 border-0 shadow-sm overflow-hidden transition-all hover-effect">
          <div class="position-relative">

            <i class="position-absolute top-0 end-0 m-3 p-2 rounded-circle bg-white bg-opacity-75 fs-5 z-2 heart-beat"
              [ngClass]="item.isFavourite ? 'fas fa-heart text-danger' : 'far fa-heart text-dark'"
              (click)="toggleFavorite(item)">
            </i>
            <img [src]="item.images[0]" class="frames-image" alt="Frame image" [@fadeIn] (click)="openFrame(item._id)">

            <div class="card-body p-2 bg-white">
              <p class="card-title text-dark fw-semibold mb-1 text-capitalize">{{ item.title }}</p>
              <p class="card-text small fw-medium">Starts at <span class="text-success">{{ item.price | currency: 'INR'
                  }}</span></p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<app-footer></app-footer>
}