.frames {
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.frames img,
.frames .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frames .item-img{
  margin-bottom: 2rem;
}

img{
  border-radius: 1rem;
}