<!-- Bootstrap Modal -->
<!-- <div class="modal fade" id="addWallpaperModal" tabindex="-1" aria-labelledby="addWallpaperLabel" aria-hidden="true"> -->
    <div #addWallpaperModal class="modal fade" id="addWallpaperModal"  aria-labelledby="addWallpaperModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addWallpaperLabel">Add Wallpaper</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form #wallpaperForm="ngForm" (ngSubmit)="onAddWallpaper()">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Wallpaper Id</label>
                            <input type="text" class="form-control" name="wallpaperId" [(ngModel)]="wallpaper.wallpaperId" placeholder="Enter wallpaperId" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-control" name="title" [(ngModel)]="wallpaper.title" placeholder="Enter title" required>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Color Options (if-any)</label>
                            <div class="d-flex flex-wrap gap-1">
                                <div *ngFor="let item of availableColors " class="form-check">
                                    <input type="checkbox" class="form-check-input" [value]="item" (change)="onColorChange($event, item)"> 
                                    <label class="form-check-label">{{ item }}</label>
                                </div>
                            </div>
                        </div>
                        
                        

                        <div class="col-md-12">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" name="description" [(ngModel)]="wallpaper.description" rows="3" placeholder="Enter description" required></textarea>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Price</label>
                            <input type="number" class="form-control" name="price" [(ngModel)]="wallpaper.price" placeholder="Enter price" required>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Category</label>
                            <select class="form-select" name="category" [(ngModel)]="wallpaper.category">
                                <option value="">Choose...</option>
                                <option *ngFor="let item of categories" [value]="item">{{ item }}</option>
                            </select>
                        </div>

                        <div class="col-md-6 col-6">
                            <label class="form-label">Size</label>
                            <input type="text" class="form-control" name="size" [(ngModel)]="wallpaper.size" placeholder="Enter size e.g(50 sq.Feet)" required>
                        </div>

                        <div class="col-md-6 col-6">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" name="stock" [(ngModel)]="wallpaper.stock" placeholder="Enter stock quantity" required>
                        </div>

                        <div>
                            <label for="formFileSm" class="form-label">Image</label>
                            <div>
                                <div *ngFor="let item of wallpaper.images" class="d-inline-block p-1">
                                    <img [src]="item"
                                    style="width: 3rem; height: 3rem; object-fit: cover;"
                                    class="rounded" alt="Wallpaper Image">
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <input class="form-control form-control-sm w-75" id="formFileSm" type="file" required (change)="onFileSelected($event)">
                                <i *ngIf="selectedFile" (click)="uploadWallpaper()" class="fa-solid fa-cloud-arrow-up fs-3"></i>
                                <i *ngIf="isFileUploading" class="fa-solid fa-spinner fa-spin fs-3"></i>
                            </div>
                            
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-secondary " ><i>Note: All Fields are required</i></p>
                            <button type="submit" *ngIf="!wallpaperData" class="btn btn-sm btn-primary" data-bs-dismiss="modal" [disabled]="wallpaperForm.invalid || wallpaper.images.length===0">Add Wallpaper</button>
                            <button type="button" *ngIf="wallpaperData" (click)="onUpdate()" [disabled]="!wallpaperForm.valid" class="btn btn-primary">Update Wallpaper</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
