
.abstract-frame {
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    background-color: #f1f1f1;
  }
  
  .abstract-frame img,
  .abstract-frame .item-img {
    width: 100%;
    object-fit: fill;
  }
  
  .abstract-frame .item {
    margin-bottom: 2rem;
  }
  .abstract-frame .item-content {
    padding: 2rem 1.5rem;
   
  }
  
  @media (max-width: 767px) {
    .abstract-frame .item {
      margin-bottom: 1rem;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .abstract-frame .item-content {
      padding: 2rem 1.5rem;
      padding-top: 1rem;
      margin-top: 1rem;
    }
  }
  
  @media (max-width: 767px) {
    .abstract-frame .item-content {
      padding: 2rem 1.5rem;
      padding-top: 1rem;
      margin-top: 1rem;
    }
  }
  
  .abstract-frame .item-wrapper {
    position: relative;
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  


/* ------------------------ */
  .frames img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
 
  @media screen and (max-width: 400px) {
    .frames p {
      font-size: 12px;
    }
  
    .frames img {
      width: 100%;
      height: 7rem;
      object-fit: fill;
    }
  }
  @media screen and (min-width: 900px) {
    .frames img {
      width: 100%;
      height: 13rem;
      object-fit: fill;
    }
  }
  @media screen and (min-width: 1000px) {
    img {
      width: 100%;
      height: 11rem;
      object-fit: fill;
    }
  }
  