<section class="abstract-frame">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>
            <a style="color: #000000"><strong>Abstract Frames</strong></a>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="assets/images/4945581.jpg" alt="Try Refreshing this site..." />
            </div>
            <div class="item-content">
              <h5>
                <strong>Dreamscape Delight</strong>
              </h5>
              <p>
                Escape to a world of imagination with this whimsical wall art.
              </p>
            </div>
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="assets/images/4945584.jpg" alt="Try Refreshing this site..." />
            </div>
            <div class="item-content">
              <h5>
                <strong>Luxury Linen Elegance</strong>
              </h5>
              <p>
                Elevate your space with the luxurious touch of linen-inspired
                designs.
              </p>
            </div>
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="assets/images/5179314.jpg" alt="Try Refreshing this site..." />
            </div>
            <div class="item-content">
              <h5>
                <strong>Vintage Floral Charm</strong>
              </h5>
              <p>
                Bring a touch of nostalgia and elegance with this vintage floral
                art.<br />
              </p>
            </div>
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="assets/images/5106740.jpg" alt="Try Refreshing this site..." />
            </div>
            <div class="item-content">
              <h5>
                <strong>Geometric Fusion</strong>
              </h5>
  
              <p>
                Add a modern twist to your walls with this geometrically inspired
                abstract frames.<br />
              </p>
            </div>
          </div>
        </div>
  
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <img src="assets/images/10.jpg" alt="Try Refreshing this site..." />
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <img src="assets/images/11.jpg" alt="Try Refreshing this site..." />
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <img src="assets/images/12.jpg" alt="Try Refreshing this site..." />
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <img src="assets/images/13.jpg" alt="Try Refreshing this site..." />
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <img src="assets/images/14.jpg" alt="Try Refreshing this site..." />
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <img src="assets/images/15.jpg" alt="Try Refreshing this site..." />
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <img src="assets/images/16.jpg" alt="Try Refreshing this site..." />
          </div>
        </div>
        <div class="item col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <img src="assets/images/17.jpg" alt="Try Refreshing this site..." />
          </div>
        </div>
      </div>
    </div>
  </section>