@if(isLoaded){
<app-loader></app-loader>
}
@else {<section class="top-pick-wallpaper">
  <div class="container-fluid">
    <div class="row justify-content-center mb-4">
      <div class="col-12 text-center">
        <h1 class="fw-bold">Top Picked Wallpapers</h1>
      </div>
    </div>

    <div class="row justify-content-center" id="top-pick-wallpaper">
      <div *ngFor="let item of wallpaperList" class="col-6 col-md-6 col-lg-3 d-flex flex-column flex-lg-row">
        <div class="card border-0 rounded-0" (click)="openWallpaper(item._id)">
          <img [src]="item.images[0]" alt="Try Refreshing this site..." class="img-fluid">
          <p class="text-capitalize">{{item.title}}</p>
        </div>
      </div>

    </div>
  </div>
</section>}