/* // regular style toast */
@import "ngx-toastr/toastr";


img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 1rem;
}

body {
  background: color-mix(
    in srgb,
    var(--dominant-color, #0f1305) 10%,
    transparent
  );
}



.heart-icon {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  transition: color 0.1s ease-in-out;
}

.heart-beat:hover {
  cursor: pointer; /* Change to red on hover */
}
