/* // regular style toast */
@import "ngx-toastr/toastr";


img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 1rem;
}

body {
  background: color-mix(
    in srgb,
    var(--dominant-color, #0f1305) 10%,
    transparent
  );
}

/* img,
.item-img {
  width: 100%;
  height: 20rem;
  object-fit:cover;
} */

/* @media screen and (max-width: 767px) {
  img,
  .item-img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
} */
