<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class=" border-bottom-0 d-flex justify-content-between align-items-center py-3">
                <h4 class="card-title mb-sm-0">Wallpapers</h4>
                <button class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#addWallpaperModal"
                    (click)="wallpaperData=null">
                    <i class="fas fa-plus me-1"></i> Add New Wallpaper
                </button>
            </div>
            <div class="row g-2">
                <div class="col-12 col-md-3">
                    <label for="inputTitle" class="form-label">Title</label>
                    <input id="inputTitle" class="form-control" type="search" (input)="search()"
                        [(ngModel)]="queryParameter.search" name="search by title" placeholder="Search by title"
                        aria-label="Search">
                </div>
                <div class="col-md-2 col-6">
                    <label for="inputCategory" class="form-label">Category</label>
                    <select id="inputCategory" name="category" [(ngModel)]="queryParameter.category"
                        (change)="onFilterChange($event)" class="form-select">
                        <option value="">All</option>
                        <option *ngFor="let item of categories" [value]="item">{{ item }}</option>
                    </select>
                </div>
                <div class="col-md-2 col-lg-2 col-6">
                    <label for="inputPrice" class="form-label">Price</label>
                    <input type="number" min="0" class="form-control" placeholder="Max price" (input)="search()"
                        [(ngModel)]="queryParameter.price" name="price" id="inputPrice">
                </div>
                <div class="col-md-2 col-lg-2  col-4">
                    <label for="inputStock" class="form-label">Stock</label>
                    <input type="number" min="0" placeholder="Ex: 1" class="form-control" (input)="search()"
                        [(ngModel)]="queryParameter.stock" name="stock" id="inputStock">
                </div>
                <div class="col-md-2 col-lg-1  col-4">
                    <label for="inputPage" class="form-label">page</label>
                    <select id="inputPage" name="page" [(ngModel)]="queryParameter.page"
                        (change)="onFilterChange($event)" class="form-select">
                        <option *ngFor="let item of totalPages" [value]="item+1">{{item+1}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-lg-2  col-4">
                    <label for="inputLimit" class="form-label">Limit</label>
                    <select id="inputLimit" name="limit" [(ngModel)]="queryParameter.limit"
                        (change)="onFilterChange($event)" class="form-select">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>

            @if(isLoaded){
            <app-loader></app-loader>
            }@else{

            <div class="table-responsive rounded p-1">
                <table class="table table-hover table-bordered align-middle">
                    <thead>
                        <tr>
                            <th scope="col" class="text-nowrap">#</th>
                            <th scope="col" class="text-nowrap">Img</th>
                            <th scope="col">Id</th>
                            <th scope="col" class="text-nowrap text-start">Title</th>
                            <th scope="col" class="text-nowrap text-center">Size</th>
                            <th scope="col" class="text-nowrap text-end">Price</th>
                            <th scope="col" class="text-nowrap text-start">Stock</th>
                            <th scope="col" class="text-nowrap text-start">Sold</th>
                            <th scope="col" class="text-nowrap text-start">Colors</th>
                            <th scope="col" class="text-nowrap text-start">Category</th>
                            <th scope="col" class="text-nowrap text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="tableData.length === 0">
                            <td colspan="10" class="text-center py-4 text-muted">
                                <i class="fas fa-tag fa-2x mb-2"></i>
                                <p class="mb-0">No coupons found</p>
                                <button class="btn btn-sm btn-outline-primary mt-2" data-bs-toggle="modal"
                                    data-bs-target="#addWallpaperModal">
                                    Add your first Wallpaper
                                </button>
                            </td>
                        </tr>
                        <tr class="text-center" *ngIf="tableData.length==0">
                            <td colspan="8">No Wallpaper!</td>
                        </tr>
                        <tr *ngFor="let item of tableData; let i = index">
                            <td class="text-muted">{{ ((queryParameter.page - 1) * queryParameter.limit) + i + 1 }}</td>

                            <td>
                                <div>
                                    <img [src]="item.images[0]" class="rounded" style="width: 2rem; height: 2rem;"
                                        alt="Wallpaper">
                                </div>
                            </td>

                            <td>
                                <span class="badge bg-light text-dark border fw-normal fs-6">{{ item.wallpaperId
                                    }}</span>
                            </td>

                            <td class="text">
                                <span class="fw-medium">{{ item.title }}</span>
                            </td>

                            <td class="text-nowrap">
                                <span class="badge bg-secondary-subtle text-dark border fw-normal">{{ item.size
                                    }}</span>
                            </td>

                            <td class="text-dark fw-bold text-end">
                                {{ item.price | currency: "INR" }}
                            </td>

                            <td class="text-center">
                                <span class="fw-medium" [ngClass]="{
                                  'text-danger': item.stock <= 5,
                                  'text-warning': item.stock > 5 && item.stock <= 10,
                                  'text-success': item.stock > 10
                                }">
                                    {{ item.stock }}
                                </span>
                            </td>

                            <td class="text-center">
                                {{ item.sold }}
                            </td>

                            <td>
                                <ng-container *ngIf="item.colorOptions?.length > 0; else noColors">
                                    <span *ngFor="let color of item.colorOptions"
                                        class="badge bg-light border text-dark me-1">
                                        {{ color }}
                                    </span>
                                </ng-container>
                                <ng-template #noColors>
                                    <span class="text-muted small">N/A</span>
                                </ng-template>
                            </td>

                            <td class="text-nowrap">
                                {{ item.category }}
                            </td>

                            <td class="text-end">
                                <div class="btn-group btn-group-sm" role="group">
                                    <button class="btn btn-outline-primary" (click)="editWallpaper(item)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-outline-danger" (click)="deleteWallpaper(item._id)">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>


            <div class="d-flex mt-4 flex-wrap align-items-center">
                <p class="text-muted mb-sm-0">Showing 1 to {{queryParameter.limit}} of {{tableData.length}} entries</p>
                <!-- <nav class="ms-auto">
                    <ul class="pagination responsive-pagination">
                        <li class="page-item" [class.disabled]="queryParameter.page === 1">
                            <button class="page-link" (click)="changePage(queryParameter.page - 1)">
                                <i class="fa-solid fa-angles-left"></i>
                            </button>
                        </li>
                        <li *ngFor="let page of [1, 2]" class="page-item" [class.active]="queryParameter.page === page">
                            <button class="page-link" (click)="changePage(page)">{{ page }}</button>
                        </li>

                        <li *ngIf="queryParameter.page > 3" class="page-item disabled ellipsis">
                            <span class="page-link">...</span>
                        </li>

                        <li *ngIf="queryParameter.page > 2 && queryParameter.page < totalPages - 1"
                            class="page-item active">
                            <button class="page-link">{{ queryParameter.page }}</button>
                        </li>

                        <li *ngIf="queryParameter.page < totalPages - 2" class="page-item disabled ellipsis">
                            <span class="page-link">...</span>
                        </li>

                        <li *ngFor="let page of [totalPages - 1, totalPages]" class="page-item"
                            [class.active]="queryParameter.page === page">
                            <button class="page-link" (click)="changePage(page)">{{ page }}</button>
                        </li>

                        <li class="page-item" [class.disabled]="queryParameter.page === totalPages">
                            <button class="page-link" (click)="changePage(queryParameter.page + 1)">
                                <i class="fa-solid fa-angles-right"></i>
                            </button>
                        </li>
                    </ul>
                </nav> -->

            </div>
            }
        </div>
    </div>
</div>




<app-add-wallpaper [wallpaperData]="wallpaperData" (getAllWallpapers)="getAllWallpapers()"></app-add-wallpaper>