@if(isLoaded){
<app-loader></app-loader>
}@else {

<div class="container-fluid py-5 my-5  bg-white">

  <!-- Product Display Section -->
  <div class="row g-4 align-items-start">
    <!-- Main Image & Thumbnails -->
    <div class="col-12 col-md-6">
      <div class="position-relative">
        <img [src]="mainImage || wallpaperData?.images[0]" class="img-fluid rounded shadow-sm w-100 object-fit-cover"
          alt="Wallpaper" style="max-height: 500px; object-fit: cover;">
      </div>
      <div class="d-flex mt-3 overflow-auto gap-2">
        <img *ngFor="let image of wallpaperData?.images" [src]="image" alt="thumb" (click)="onChangeMainImage(image)"
          class="img-thumbnail border-0" style="width: 70px; height: 70px; object-fit: cover; cursor: pointer;">
      </div>
    </div>

    <!-- Product Info -->
    <div class="col-12 col-md-6">
      <span class="badge text-bg-success py-2 px-3 mb-2">#1 Best Seller</span>
      <h2 class="fw-bold text-capitalize">{{ wallpaperData?.title }}</h2>
      <p class="card-text lead ">{{wallpaperData?.wallpaperId}}</p>

      <p class="text-muted ">{{ wallpaperData?.description }}</p>

      <div class="d-flex gap-2 align-items-center  mb-3">
        <span class="text-uppercase">Category - </span>
        <span class="text-dark text-capitalize">{{ wallpaperData?.category }}</span>
      </div>

      <h4 class="fw-bold text-dark">MRP {{ wallpaperData?.price | currency : 'INR' }} <span class="lead"> <small
            class="text-muted">Per Roll (Inclusive of all taxes)</small></span> </h4>


      <!-- Size -->
      <div class="mt-3">
        <label class="form-label fw-semibold">Size covered in 1 Roll</label>
        <p class="border rounded-3 w-auto p-2">{{wallpaperData?.size}}</p>
      </div>

      <a href="https://www.wikihow.com/Measure-for-Wallpaper" class="text-danger d-block mt-2">How To Measure?</a>
      <!-- Color Options -->
      <div *ngIf="wallpaperData?.colorOptions.length !== 0" class="d-flex gap-4 align-items-center mt-3">
        <div>
          <label class="form-label fw-semibold">Color Options</label>
          <select class="form-select " (click)="selectColor($event)">
            <option value="" selected>Select Color</option>
            <option *ngFor="let color of wallpaperData?.colorOptions" [value]="color">{{ color }}</option>
          </select>
        </div>
        <div>
          <label class="form-label fw-semibold">Selected Color</label>
          <div class="rounded-circle" [ngStyle]="{ 'background-color': selectedColor }"
            style="width: 30px; height: 30px;"></div>
        </div>
      </div>



      <!-- Stock & Actions -->
      <div class="mt-3">
        <p class="fw-bold">In Stock: {{ wallpaperData?.stock }}</p>

        <div *ngIf="wallpaperData?.stock != 0" class="d-flex align-items-center justify-content-center gap-2">
          <button class="btn btn-outline-success px-4 btn-sm  d-flex align-items-center"
            (click)="sendWhatsAppMessage()">
            <span>Order on</span>
            <i class="fa-brands fa-whatsapp ms-2" style="font-size: 1.5rem;cursor: pointer;"></i>
          </button>
          <button style="background-color: #c5bdad;" class="btn btn-sm px-4 text-dark d-flex align-items-center"
            (click)="addToCart(wallpaperData)">
            <i class="material-icons me-2" style="font-size: 1.5rem;cursor: pointer;">shopping_bag</i>
            <span>Add to Bag</span>
          </button>
        </div>

        <div *ngIf="wallpaperData?.stock == 0">
          <button class="btn btn-danger btn-lg w-100" disabled>Out of Stock</button>
          <a class="mt-2 text-success text-decoration-none btn-sm  d-flex align-items-center"
            (click)="sendWhatsAppMessage()">
            <span>Enquire on</span>
            <span> <i class="fa-brands fa-whatsapp ms-2" style="font-size: 1.5rem;cursor: pointer;"></i></span>
            <span class="text-decoration-underline" (click)="sendWhatsAppMessage()">WhatsApp</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Features Section -->
  <div class="row mt-3 g-4">
    <p class="lead fs-5 text-start mt-3">Features we Offer </p>

    <div class="col-6 col-md-4 col-lg-2 text-center" *ngFor="let feature of features">
      <img [src]="feature.img" alt="feature" width="50" height="50">
      <p class="mt-2">{{ feature.text }}</p>
    </div>
  </div>

  <div>
    <p class="lead fs-5 text-start mt-3">More from the <span class="text-capitalize">{{category}}</span> Collection</p>
    <div style="max-width: 100%;">
      <div class="overflow-auto" style="white-space: nowrap;">
        <div *ngFor="let item of wallpaperList" class="d-inline-block p-1">
          <img [src]="item.images[0]" style="width: 10rem; height:12rem; object-fit: cover;" class="rounded-0 me-2"
            alt="Wallpaper img" (click)="openWallpaper(item._id)">
          <p class="m-0 card-title text-dark text-capitalize">{{ item.title }}</p>
          <p class="card-text lead m-0 ">{{item.wallpaperId}}</p>
          <p class="card-text  lead"><span class="" style="color: rgb(83, 64, 35);">{{ item.price | currency: 'INR' }}
            </span> <span class="text-muted"> /roll </span> </p>
        </div>
      </div>
    </div>
  </div>


  <app-faq></app-faq>
</div>



<app-footer></app-footer>
}