
.thumbnail {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 0.3s;
}
.thumbnail:hover, .thumbnail.active {
  border-color: #c62828;
}
.main-image {
  width: 100%;
  border-radius: 8px;
}
.badge-custom {
  background-color: #c62828;
  color: white;
  font-size: 14px;
}
.floating-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.call {
  background: #c62828;
} 